<h3>Pokedex</h3>
<div class="main">
    <div class="pokedex">
        <div class="card" *ngFor="let pokemon of Pokemons; let i=index" (click)="onePokemon(this.pokemon)">
            <img src="" alt="">
            <p>{{ pokemon.id }}</p>
            <p>{{ pokemon.name }}</p>
        </div>
    </div>
    <div class="info">
        <div class="info_pokemon">
            <p>{{view?.id}}</p>
            <p>{{view?.name}}</p>
        </div>
    </div>
</div>
<div class="buttons">
    
    <button (click)="previousList()" [disabled]="count==0"> Previus </button>
    <button (click)="nextList()"> Next</button>

</div>
